<html>
    <head>
        
    </head>
    <body>
        <h1>Play ground</h1>
    <ul>
        <% for(let i=1;i<=10;i++) {%>
        <li>
            <%= i %>

        </li>
        <%}%>
        <% if(true){ %>
            <h1>Its true</h1>
        <% }else{ %>
            <h1>Its false</h1>

        <%}%>
    </ul>
    </body>
</html>